svg#diagram {
  border: 2px dashed white;
  background-color: #111;
}
svg#diagram polygon {
  stroke: grey;
}
svg#diagram rect {
  stroke: grey;
}
svg#diagram rect.active {
}
svg circle {
  fill: cyan;
}
svg g {
  fill: grey;
}
svg g g {
  fill: red;
}
svg g g g {
  fill: green;
}
svg g g g g {
  fill: blue;
}
.active {
  fill: orange;
}
